<section class="slice bg-dark bg-cover bg-size--contain" style="padding-bottom: 250px; background-image: url('/assets/backgrounds/DraftingSpec_Skyline.jpg'); background-position: center bottom;">
  <div class="container pt-sm py-lg-lg">
    <div class="row row-grid align-items-center justify-content-center">
      <div class="col-lg-6">
        <div class="pt-lg-md pb-lg-md text-center">
          <h2 class="heading h1 text-white mb-3">Thank You for Subscribing to our Newsletter</h2>
          <p class="lead lh-180 text-white">We will keep you informed of any important information about Drafting Class</p>
            <%= link_to new_user_registration_path, class: "btn btn-info btn-circle btn-translate--hover btn-icon mr-sm-4 scroll-me" do %>
                <span class="btn-inner--text">Create Account</span>
                <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
            <% end %>            
            <%= link_to courses_path, class: "btn btn-outline-white btn-circle btn-translate--hover btn-icon d-none d-xl-inline-block scroll-me" do %>
                <span class="btn-inner--icon"><i class="fas fa-play"></i></span>
                <span class="btn-inner--text">Explore Courses</span>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>